@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	/* ARCHIVO NARROW */
	@font-face {
		font-family: 'Archivo Narrow';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontArchivoNarrow/ArchivoNarrow-Regular.ttf')
			format('truetype');
	}
	@font-face {
		font-family: 'Archivo Narrow';
		font-style: normal;
		font-weight: bold;
		src: url('~/assets/FontArchivoNarrow/ArchivoNarrow-Bold.ttf')
			format('truetype');
	}
	/* ANTON */
	@font-face {
		font-family: 'Anton';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontAnton/Anton-Regular.ttf') format('truetype');
	}
	/* ALUMNI SANS */
	@font-face {
		font-family: 'Alumni Sans';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontAlumniSans/AlumniSans-Regular.ttf')
			format('truetype');
	}
	body {
		font-family: 'Archivo Narrow';
	}
}
