@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		scroll-behavior: smooth;
	}
	/* ARCHIVO NARROW */
	@font-face {
		font-family: 'Archivo Narrow';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontArchivoNarrow/ArchivoNarrow-Regular.ttf')
			format('truetype');
	}
	@font-face {
		font-family: 'Archivo Narrow';
		font-style: normal;
		font-weight: bold;
		src: url('~/assets/FontArchivoNarrow/ArchivoNarrow-Bold.ttf')
			format('truetype');
	}
	/* ANTON */
	@font-face {
		font-family: 'Anton';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontAnton/Anton-Regular.ttf') format('truetype');
	}
	/* ALUMNI SANS */
	@font-face {
		font-family: 'Alumni Sans';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontAlumniSans/AlumniSans-Regular.ttf')
			format('truetype');
	}
	@font-face {
		font-family: 'Alumni Sans';
		font-style: normal;
		font-weight: 500;
		src: url('~/assets/FontAlumniSans/AlumniSans-Medium.ttf')
			format('truetype');
	}
	/* BEBAS NEUE */
	@font-face {
		font-family: 'Bebas Neue';
		font-style: normal;
		font-weight: normal;
		src: url('~/assets/FontBebasNeue/BebasNeue-Regular.ttf')
			format('truetype');
	}
	body {
		font-family: 'Archivo Narrow';
	}
	.text-outline {
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px;
	}
	.landing-skewed-bg::after {
		content: '';
		width: 100%;
		height: calc(100% - 70px);
		position: absolute;
		top: 0px;
		right: 0;
		background-color: #910a0a;
		transform: skewY(9deg);
		z-index: -1;
	}
	.landing-skewed-bg::before {
		content: '';
		width: 100%;
		height: 400px;
		position: absolute;
		top: -100px;
		left: 0;
		background-color: #910a0a;
		z-index: -1;
	}
	.about-skewed-bg::after {
		content: '';
		width: 100%;
		height: calc(100% + 70px);
		position: absolute;
		top: 0px;
		right: 0;
		background-color: #191919;
		transform: skewY(-9deg);
		z-index: -1;
	}
	.about-skewed-bg::before {
		content: '';
		width: 100%;
		height: 400px;
		position: absolute;
		top: -100px;
		left: 0;
		background-color: #191919;
		z-index: -1;
	}

	.hado {
		object-position: -64px 0px;
		filter: brightness(0.9);
	}

	.eva {
		object-position: 0 15%;
	}

	.ultimechs {
		object-position: 50% 30%;
	}
}
